<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="webcalendar.bdo.User"/>	
		<mapping class="webcalendar.bdo.Calendar"/>
		<mapping class="webcalendar.bdo.EventGroup"/>		
	</session-factory>
</hibernate-configuration>
